<a href="https://colab.research.google.com/github/yuhui-0611/SEED/blob/main/SEED_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%8B%A4%EC%A4%91%EA%B3%B5%EC%84%A0%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_7_1 = pd.read_csv('/content/drive/MyDrive/SEED/데이터/df_7_1.csv')
df_7_2 = pd.read_csv('/content/drive/MyDrive/SEED/데이터/df_7_2.csv')
df_8_1 = pd.read_csv('/content/drive/MyDrive/SEED/데이터/df_8_1.csv')
df_8_2 = pd.read_csv('/content/drive/MyDrive/SEED/데이터/df_8_2.csv')

# df 열 이름

In [4]:
df_7_1.columns

Index(['year', 'i', 'j', 'RTA_ij', 'X_ij', 'STC_i', 'RCA_i', 'pi_i', 'x_j',
       'ln_GDP_i', 'ln_GDP_j', 'ln_POP_i', 'ln_POP_j', 'ln_TARIFF_ij',
       'ln_PATENTS_i', 'ln_RENEWABLE_i', 'ln_TARIFF_ij*ln_PATENTS_i',
       'ln_TARIFF_ij*ln_RENEWABLE_i', 'ln_DIST_ij'],
      dtype='object')

In [5]:
df_7_2.columns

Index(['year', 'i', 'j', 'RTA_ij', 'X_ij', 'STC_i', 'RCA_i', 'pi_i', 'x_j',
       'ln_GDP_i', 'ln_GDP_j', 'ln_POP_i', 'ln_POP_j', 'ln_TARIFF_ij',
       'ln_PATENTS_i', 'ln_RENEWABLE_i', 'ln_TARIFF_ij*ln_PATENTS_i',
       'ln_TARIFF_ij*ln_RENEWABLE_i', 'ln_DIST_ij'],
      dtype='object')

In [6]:
df_8_1.columns

Index(['year', 'i', 'j', 'RTA_ij', 'X_ij', 'STC_i', 'RCA_i', 'pi_i', 'x_j',
       'ln_GDP_i', 'ln_GDP_j', 'ln_POP_i', 'ln_POP_j', 'lnTARIFF_ij+CBAM_i_49',
       'lnTARIFF_ij+CBAM_i_100', 'lnTARIFF_ij+CBAM_i_150', 'ln_PATENTS_i',
       'ln_RENEWABLE_i', '(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i',
       '(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i', 'ln_DIST_ij'],
      dtype='object')

In [7]:
df_8_2.columns

Index(['year', 'i', 'j', 'RTA_ij', 'X_ij', 'STC_i', 'RCA_i', 'pi_i', 'x_j',
       'ln_GDP_i', 'ln_GDP_j', 'ln_POP_i', 'ln_POP_j', 'lnTARIFF_ij+CBAM_i_49',
       'lnTARIFF_ij+CBAM_i_100', 'lnTARIFF_ij+CBAM_i_150', 'ln_PATENTS_i',
       'ln_RENEWABLE_i', '(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i',
       '(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i', 'ln_DIST_ij'],
      dtype='object')

# 결측치 재확인

In [8]:
df_7_1.isnull().sum()

year                           0
i                              0
j                              0
RTA_ij                         0
X_ij                           0
STC_i                          0
RCA_i                          0
pi_i                           0
x_j                            0
ln_GDP_i                       0
ln_GDP_j                       0
ln_POP_i                       0
ln_POP_j                       0
ln_TARIFF_ij                   0
ln_PATENTS_i                   0
ln_RENEWABLE_i                 0
ln_TARIFF_ij*ln_PATENTS_i      0
ln_TARIFF_ij*ln_RENEWABLE_i    0
ln_DIST_ij                     0
dtype: int64

In [9]:
df_7_2.isnull().sum()

year                           0
i                              0
j                              0
RTA_ij                         0
X_ij                           0
STC_i                          0
RCA_i                          0
pi_i                           0
x_j                            0
ln_GDP_i                       0
ln_GDP_j                       0
ln_POP_i                       0
ln_POP_j                       0
ln_TARIFF_ij                   0
ln_PATENTS_i                   0
ln_RENEWABLE_i                 0
ln_TARIFF_ij*ln_PATENTS_i      0
ln_TARIFF_ij*ln_RENEWABLE_i    0
ln_DIST_ij                     0
dtype: int64

In [10]:
df_8_1.isnull().sum()

year                                       0
i                                          0
j                                          0
RTA_ij                                     0
X_ij                                       0
STC_i                                      0
RCA_i                                      0
pi_i                                       0
x_j                                        0
ln_GDP_i                                   0
ln_GDP_j                                   0
ln_POP_i                                   0
ln_POP_j                                   0
lnTARIFF_ij+CBAM_i_49                      0
lnTARIFF_ij+CBAM_i_100                     0
lnTARIFF_ij+CBAM_i_150                     0
ln_PATENTS_i                               0
ln_RENEWABLE_i                             0
(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i      0
(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i    0
ln_DIST_ij                                 0
dtype: int64

In [11]:
df_8_2.isnull().sum()

year                                       0
i                                          0
j                                          0
RTA_ij                                     0
X_ij                                       0
STC_i                                      0
RCA_i                                      0
pi_i                                       0
x_j                                        0
ln_GDP_i                                   0
ln_GDP_j                                   0
ln_POP_i                                   0
ln_POP_j                                   0
lnTARIFF_ij+CBAM_i_49                      0
lnTARIFF_ij+CBAM_i_100                     0
lnTARIFF_ij+CBAM_i_150                     0
ln_PATENTS_i                               0
ln_RENEWABLE_i                             0
(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i      0
(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i    0
ln_DIST_ij                                 0
dtype: int64

# VIF 검정

In [12]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

## 7_1

In [13]:
df_7_1.dtypes

year                             int64
i                               object
j                               object
RTA_ij                           int64
X_ij                           float64
STC_i                          float64
RCA_i                          float64
pi_i                            object
x_j                             object
ln_GDP_i                       float64
ln_GDP_j                       float64
ln_POP_i                       float64
ln_POP_j                       float64
ln_TARIFF_ij                   float64
ln_PATENTS_i                   float64
ln_RENEWABLE_i                 float64
ln_TARIFF_ij*ln_PATENTS_i      float64
ln_TARIFF_ij*ln_RENEWABLE_i    float64
ln_DIST_ij                     float64
dtype: object

In [14]:
X_7_1 = df_7_1.drop(columns=['year', 'i', 'j', 'X_ij', 'pi_i', 'x_j', 'ln_TARIFF_ij', 'ln_TARIFF_ij*ln_PATENTS_i', 'ln_TARIFF_ij*ln_RENEWABLE_i'])

vif_7_1 = pd.DataFrame()
vif_7_1["Variable"] = X_7_1.columns
vif_7_1["VIF"] = [variance_inflation_factor(X_7_1.values, i) for i in range(X_7_1.shape[1])]

print(vif_7_1)

         Variable         VIF
0          RTA_ij    2.869648
1           STC_i    2.522680
2           RCA_i    2.826805
3        ln_GDP_i  498.577444
4        ln_GDP_j  672.168300
5        ln_POP_i  265.611546
6        ln_POP_j  194.716677
7    ln_PATENTS_i   11.795759
8  ln_RENEWABLE_i   10.252891
9      ln_DIST_ij  121.016055

## 7_2

In [15]:
df_7_1.dtypes

year                             int64
i                               object
j                               object
RTA_ij                           int64
X_ij                           float64
STC_i                          float64
RCA_i                          float64
pi_i                            object
x_j                             object
ln_GDP_i                       float64
ln_GDP_j                       float64
ln_POP_i                       float64
ln_POP_j                       float64
ln_TARIFF_ij                   float64
ln_PATENTS_i                   float64
ln_RENEWABLE_i                 float64
ln_TARIFF_ij*ln_PATENTS_i      float64
ln_TARIFF_ij*ln_RENEWABLE_i    float64
ln_DIST_ij                     float64
dtype: object

In [16]:
X_7_2 = df_7_2.drop(columns=['year', 'i', 'j', 'X_ij', 'pi_i', 'x_j', 'ln_TARIFF_ij', 'ln_TARIFF_ij*ln_PATENTS_i', 'ln_TARIFF_ij*ln_RENEWABLE_i'])

vif_7_2 = pd.DataFrame()
vif_7_2["Variable"] = X_7_2.columns
vif_7_2["VIF"] = [variance_inflation_factor(X_7_2.values, i) for i in range(X_7_2.shape[1])]

print(vif_7_2)

         Variable         VIF
0          RTA_ij    3.127668
1           STC_i    2.882434
2           RCA_i    3.024974
3        ln_GDP_i  629.281124
4        ln_GDP_j  787.694306
5        ln_POP_i  319.616184
6        ln_POP_j  220.794903
7    ln_PATENTS_i   13.743412
8  ln_RENEWABLE_i   11.959208
9      ln_DIST_ij  124.014721

## 8_1

In [17]:
df_8_1.dtypes

year                                         int64
i                                           object
j                                           object
RTA_ij                                       int64
X_ij                                       float64
STC_i                                      float64
RCA_i                                      float64
pi_i                                        object
x_j                                         object
ln_GDP_i                                   float64
ln_GDP_j                                   float64
ln_POP_i                                   float64
ln_POP_j                                   float64
lnTARIFF_ij+CBAM_i_49                      float64
lnTARIFF_ij+CBAM_i_100                     float64
lnTARIFF_ij+CBAM_i_150                     float64
ln_PATENTS_i                               float64
ln_RENEWABLE_i                             float64
(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i      float64
(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i    float64
ln_DIST_ij                                 float64
dtype: object

In [18]:
X_8_1 = df_8_1.drop(columns=['lnTARIFF_ij+CBAM_i_49', 'lnTARIFF_ij+CBAM_i_100', 'lnTARIFF_ij+CBAM_i_150', 'year', 'i', 'j', 'X_ij', 'pi_i', 'x_j', '(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i', '(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i'])

vif_8_1 = pd.DataFrame()
vif_8_1["Variable"] = X_8_1.columns
vif_8_1["VIF"] = [variance_inflation_factor(X_8_1.values, i) for i in range(X_8_1.shape[1])]

print(vif_8_1)

         Variable         VIF
0          RTA_ij    2.869648
1           STC_i    2.522680
2           RCA_i    2.826805
3        ln_GDP_i  498.577444
4        ln_GDP_j  672.168300
5        ln_POP_i  265.611546
6        ln_POP_j  194.716677
7    ln_PATENTS_i   11.795759
8  ln_RENEWABLE_i   10.252891
9      ln_DIST_ij  121.016055

## 8_2

In [19]:
df_8_2.dtypes

year                                         int64
i                                           object
j                                           object
RTA_ij                                       int64
X_ij                                       float64
STC_i                                      float64
RCA_i                                      float64
pi_i                                        object
x_j                                         object
ln_GDP_i                                   float64
ln_GDP_j                                   float64
ln_POP_i                                   float64
ln_POP_j                                   float64
lnTARIFF_ij+CBAM_i_49                      float64
lnTARIFF_ij+CBAM_i_100                     float64
lnTARIFF_ij+CBAM_i_150                     float64
ln_PATENTS_i                               float64
ln_RENEWABLE_i                             float64
(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i      float64
(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i    float64
ln_DIST_ij                                 float64
dtype: object

In [20]:
X_8_2 = df_8_2.drop(columns=['lnTARIFF_ij+CBAM_i_49', 'lnTARIFF_ij+CBAM_i_100', 'lnTARIFF_ij+CBAM_i_150', 'year', 'i', 'j', 'X_ij', 'pi_i', 'x_j', '(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i', '(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i'])

vif_8_2 = pd.DataFrame()
vif_8_2["Variable"] = X_8_2.columns
vif_8_2["VIF"] = [variance_inflation_factor(X_8_2.values, i) for i in range(X_8_2.shape[1])]

print(vif_8_2)

         Variable         VIF
0          RTA_ij    3.127668
1           STC_i    2.882434
2           RCA_i    3.024974
3        ln_GDP_i  629.281124
4        ln_GDP_j  787.694306
5        ln_POP_i  319.616184
6        ln_POP_j  220.794903
7    ln_PATENTS_i   13.743412
8  ln_RENEWABLE_i   11.959208
9      ln_DIST_ij  124.014721

# 빼고 다시 VIF

In [28]:
X_7_1 = df_7_1.drop(columns=['ln_RENEWABLE_i', 'ln_TARIFF_ij', 'year', 'i', 'j', 'X_ij', 'pi_i', 'x_j', 'ln_TARIFF_ij*ln_PATENTS_i', 'ln_TARIFF_ij*ln_RENEWABLE_i'])

vif_7_1 = pd.DataFrame()
vif_7_1["Variable"] = X_7_1.columns
vif_7_1["VIF"] = [variance_inflation_factor(X_7_1.values, i) for i in range(X_7_1.shape[1])]

print(vif_7_1)

       Variable         VIF
0        RTA_ij    2.673464
1         STC_i    2.458804
2         RCA_i    2.721849
3      ln_GDP_i  437.372881
4      ln_GDP_j  666.572861
5      ln_POP_i  263.137921
6      ln_POP_j  192.872838
7  ln_PATENTS_i    9.901425
8    ln_DIST_ij  113.667700

In [29]:
X_7_2 = df_7_2.drop(columns=['ln_RENEWABLE_i', 'ln_TARIFF_ij', 'year', 'i', 'j', 'X_ij', 'pi_i', 'x_j', 'ln_TARIFF_ij*ln_PATENTS_i', 'ln_TARIFF_ij*ln_RENEWABLE_i'])

vif_7_2 = pd.DataFrame()
vif_7_2["Variable"] = X_7_2.columns
vif_7_2["VIF"] = [variance_inflation_factor(X_7_2.values, i) for i in range(X_7_2.shape[1])]

print(vif_7_2)

       Variable         VIF
0        RTA_ij    2.841345
1         STC_i    2.775638
2         RCA_i    2.941119
3      ln_GDP_i  520.009458
4      ln_GDP_j  785.548020
5      ln_POP_i  310.026710
6      ln_POP_j  219.795796
7  ln_PATENTS_i   11.153873
8    ln_DIST_ij  116.227549

In [30]:
X_8_1 = df_8_1.drop(columns=['ln_RENEWABLE_i', 'lnTARIFF_ij+CBAM_i_49', 'lnTARIFF_ij+CBAM_i_100', 'lnTARIFF_ij+CBAM_i_150', 'year', 'i', 'j', 'X_ij', 'pi_i', 'x_j', '(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i', '(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i'])

vif_8_1 = pd.DataFrame()
vif_8_1["Variable"] = X_8_1.columns
vif_8_1["VIF"] = [variance_inflation_factor(X_8_1.values, i) for i in range(X_8_1.shape[1])]

print(vif_8_1)

       Variable         VIF
0        RTA_ij    2.673464
1         STC_i    2.458804
2         RCA_i    2.721849
3      ln_GDP_i  437.372881
4      ln_GDP_j  666.572861
5      ln_POP_i  263.137921
6      ln_POP_j  192.872838
7  ln_PATENTS_i    9.901425
8    ln_DIST_ij  113.667700

In [31]:
X_8_2 = df_8_2.drop(columns=['ln_RENEWABLE_i', 'lnTARIFF_ij+CBAM_i_49', 'lnTARIFF_ij+CBAM_i_100', 'lnTARIFF_ij+CBAM_i_150', 'year', 'i', 'j', 'X_ij', 'pi_i', 'x_j', '(lnTARIFF_ij+CBAM_i_100)*ln_PATENTS_i', '(lnTARIFF_ij+CBAM_i_150)*ln_RENEWABLE_i'])

vif_8_2 = pd.DataFrame()
vif_8_2["Variable"] = X_8_2.columns
vif_8_2["VIF"] = [variance_inflation_factor(X_8_2.values, i) for i in range(X_8_2.shape[1])]

print(vif_8_2)

       Variable         VIF
0        RTA_ij    2.841345
1         STC_i    2.775638
2         RCA_i    2.941119
3      ln_GDP_i  520.009458
4      ln_GDP_j  785.548020
5      ln_POP_i  310.026710
6      ln_POP_j  219.795796
7  ln_PATENTS_i   11.153873
8    ln_DIST_ij  116.227549

변수 제거의 문제가 아닌듯

# exponential 씌우고 다시 VIF

In [32]:
e_7_1 = df_7_1.copy()
e_7_2 = df_7_2.copy()
e_8_1 = df_8_1.copy()
e_8_2 = df_8_2.copy()

In [33]:
e_7_1['RENEWABLE_i'] = np.exp(e_7_1['ln_RENEWABLE_i'])
e_7_1['PATENTS_i'] = np.exp(e_7_1['ln_PATENTS_i'])

e_7_2['RENEWABLE_i'] = np.exp(e_7_2['ln_RENEWABLE_i'])
e_7_2['PATENTS_i'] = np.exp(e_7_2['ln_PATENTS_i'])

e_8_1['RENEWABLE_i'] = np.exp(e_8_1['ln_RENEWABLE_i'])
e_8_1['PATENTS_i'] = np.exp(e_8_1['ln_PATENTS_i'])

e_8_2['RENEWABLE_i'] = np.exp(e_8_2['ln_RENEWABLE_i'])
e_8_2['PATENTS_i'] = np.exp(e_8_2['ln_PATENTS_i'])

In [37]:
e_7_1 = e_7_1.drop(columns=['ln_RENEWABLE_i', 'ln_PATENTS_i'])
e_7_2 = e_7_2.drop(columns=['ln_RENEWABLE_i', 'ln_PATENTS_i'])
e_8_1 = e_8_1.drop(columns=['ln_RENEWABLE_i', 'ln_PATENTS_i'])
e_8_2 = e_8_2.drop(columns=['ln_RENEWABLE_i', 'ln_PATENTS_i'])

In [38]:
E_7_1 = e_7_1.drop(columns=['ln_TARIFF_ij', 'year', 'i', 'j', 'X_ij', 'pi_i', 'x_j', 'ln_TARIFF_ij*ln_PATENTS_i', 'ln_TARIFF_ij*ln_RENEWABLE_i'])

vif_7_1 = pd.DataFrame()
vif_7_1["Variable"] = E_7_1.columns
vif_7_1["VIF"] = [variance_inflation_factor(E_7_1.values, i) for i in range(E_7_1.shape[1])]

print(vif_7_1)

      Variable         VIF
0       RTA_ij    2.655251
1        STC_i    6.024889
2        RCA_i    2.698713
3     ln_GDP_i  261.458418
4     ln_GDP_j  621.228886
5     ln_POP_i  198.645816
6     ln_POP_j  185.462300
7   ln_DIST_ij  111.943503
8  RENEWABLE_i    2.512287
9    PATENTS_i    4.728668

exponential 씌우고 돌리니까 숫자 매우 good